<a href="https://colab.research.google.com/github/Habib0308/University_Final_Year_Project/blob/master/Notebooks/Chicago_Data_Preprocessing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Objective of this preprocessing is to create encoded dataset for predicting ward**


**Avoid colab clossing**
```
function ClickConnect(){
    document.querySelector("colab-connect-button").click()
    console.log("Clicked on connect button"); 
}
setInterval(ClickConnect,60000)
```

# **Imports**

In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# mounting google drive

In [142]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# **Importing Dataset**

In [143]:
file_path= "/content/gdrive/My Drive/Final Year Project/Dataset/dataset_analyzed.csv"
data= pd.read_csv(file_path) #, nrows= 10000
del data["date_of_occurrence"]
df= data.copy()

# Changing Data type

In [144]:
df["ward"]= df["ward"].astype(object)
df["beat"]= df["beat"].astype(object)
df["hour"]= df["hour"].astype(object)

In [145]:
df.head(2)

                block  iucr primary_description  ... month  week_day hour
0   061XX W GRAND AVE  0486             BATTERY  ...   Jun  Thursday    5
1  043XX N CICERO AVE  0560             ASSAULT  ...   Jun  Thursday    5

[2 rows x 15 columns]

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232015 entries, 0 to 232014
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   block                  232015 non-null  object
 1   iucr                   232015 non-null  object
 2   primary_description    232015 non-null  object
 3   secondary_description  232015 non-null  object
 4   location_description   232015 non-null  object
 5   arrest                 232015 non-null  object
 6   domestic               232015 non-null  object
 7   beat                   232015 non-null  object
 8   ward                   232015 non-null  object
 9   fbi_cd                 232015 non-null  object
 10  latitude               232015 non-null  float64
 11  longitude              232015 non-null  float64
 12  month                  232015 non-null  object
 13  week_day               232015 non-null  object
 14  hour                   232015 non-null  object
dtypes: float64(2), object(13)
memory usage: 26.6+ MB

# **One hot encoding for features with many variables**
In this i will pick up top most freqquencty occuring labels from each feature and for the rest of the labels if they occur in the data would have their complete row as zero and they will not contain a column of their own

## Counting columns and unique values for each column before encoding

[onehotencoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [147]:
orig_rows, orig_col= df.shape
print(" Rows",orig_rows,"\n","Columns",orig_col)

 Rows 232015
 Columns 15

In [148]:
for column in df.columns:
    print(column, ": ", df[column].nunique())

block :  26988
iucr :  314
primary_description :  32
secondary_description :  427
location_description :  162
arrest :  2
domestic :  2
beat :  274
ward :  50
fbi_cd :  26
latitude :  115738
longitude :  115721
month :  12
week_day :  7
hour :  24

In [149]:
df.columns

Index(['block', 'iucr', 'primary_description', 'secondary_description',
       'location_description', 'arrest', 'domestic', 'beat', 'ward', 'fbi_cd',
       'latitude', 'longitude', 'month', 'week_day', 'hour'],
      dtype='object')

# **Data For Predicting Ward**

# **Which values to pick?**

**Top Values :**

* top 10 **primary_description**
 * top 10 **secondary_description** for each primary description
 * top 10 **IUDR** codes for each primary description
* top 10 **blocks** from each and all wards
* top 10 **beats**
* top 30 **location** descriptions
* top 10 **FBI code**

**Others**

* arrest :  2
* domestic :  2
* latitude :  115738
* longitude :  115721
* month :  12
* week_day :  7
* hour :  24
 * dividing into 4 times

# **Encoder Function**

This function accepts:
* **column_name**: The column to encode
* **top_values**: List of labels to encode

In [150]:
def encoder_function(column_name, top_values):
    """
    This function accepts:
    column_name: The column to encode
    top_values: List of values to encode
    """
    for category in top_values:
        new_col= column_name + "_"+ category
        df[new_col]= np.where(df[column_name] == category, 1, 0)
    df.head(3)

# **Getting internal top 10 values function**

In [151]:
def list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count):
    """
    This function accepts:
    column_name: The name of the outer level column
    outer_top: (List) top values of outer column
    no_of_top_topick: Number of top values to pick from inner column
    Column_to_count: Name of column from which you want to pick top values of
    """
    top_values=[]
    for value in outer_top:
        filt= (df[column_name] == value )
        top_values.extend([x for x in df[filt][Column_to_count].value_counts(ascending= False).head(no_of_top_topick).index])
    return top_values

# **Top Labels and their encoding**

## **Top 10 primary description**

In [152]:
top_prim_des= [x for x in df["primary_description"].value_counts(ascending= False).head(10).index]
top_values = top_prim_des.copy()
top_values

['THEFT',
 'BATTERY',
 'CRIMINAL DAMAGE',
 'ASSAULT',
 'DECEPTIVE PRACTICE',
 'OTHER OFFENSE',
 'NARCOTICS',
 'BURGLARY',
 'MOTOR VEHICLE THEFT',
 'ROBBERY']

### **Encoding Top Primary Description values**

In [153]:
column_name= "primary_description"
encoder_function(column_name, top_values)

In [154]:
df.head(2)

                block  ... primary_description_ROBBERY
0   061XX W GRAND AVE  ...                           0
1  043XX N CICERO AVE  ...                           0

[2 rows x 25 columns]

## **Top Secondary crimes for the top primary description**

In [155]:
# to pass
column_name= "primary_description" # The name of the outer level column
outer_top= top_prim_des # Top values of outer column
no_of_top_topick =10 #these are how many number of values to pick for the inner top values
Column_to_count= "secondary_description" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))

print(top_values)
print(len(set(top_values)))

['POSS: CANNABIS MORE THAN 30GMS', 'TO VEHICLE', 'HARASSMENT BY ELECTRONIC MEANS', 'FOUND SUSPECT NARCOTICS', 'VIOLATE ORDER OF PROTECTION', 'PURSE-SNATCHING', 'THEFT / RECOVERY - AUTOMOBILE', 'AGGRAVATED: OTHER DANG WEAPON', 'OTHER VEHICLE OFFENSE', 'VEHICLE TITLE/REG OFFENSE', 'ATTEMPT FORCIBLE ENTRY', 'TELEPHONE THREAT', 'INSTITUTIONAL VANDALISM', 'ATTEMPT: STRONGARM-NO WEAPON', 'AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET SERIOUS INJURY', 'ATTEMPT THEFT', 'GUN OFFENDER: ANNUAL REGISTRATION', 'HOME INVASION', 'STRONGARM - NO WEAPON', 'ARMED - HANDGUN', 'MANU/DEL:CANNABIS OVER 10 GMS', 'DELIVERY CONTAINER THEFT', 'FALSE/STOLEN/ALTERED TRP', 'TO CITY OF CHICAGO PROPERTY', 'UNLAWFUL ENTRY', 'POCKET-PICKING', 'VEHICULAR HIJACKING', 'RETAIL THEFT', 'AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON', 'DOMESTIC BATTERY SIMPLE', 'ARMED: HANDGUN', 'AGGRAVATED VEHICULAR HIJACKING', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'TO PROPERTY', 'FORGERY', 'OTHER CRIME AGAINST PERSON', 'FORCIBLE ENTRY', 'TO STATE SUP PROP', 'SOLICIT NARCOTICS ON PUBLICWAY', 'CYCLE, SCOOTER, BIKE W-VIN', 'ATT: AUTOMOBILE', 'LICENSE VIOLATION', 'POSS: COCAINE', 'SIMPLE', 'AGG PO HANDS NO/MIN INJURY', 'COUNTERFEITING DOCUMENT', '$500 AND UNDER', 'AGGRAVATED: HANDGUN', 'TRUCK, BUS, MOTOR HOME', 'CYCLE, SCOOTER, BIKE NO VIN', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'AGGRAVATED:KNIFE/CUTTING INSTR', 'TO FIRE FIGHT.APP.EQUIP', 'FROM COIN-OP MACHINE/DEVICE', 'THEFT OF LABOR/SERVICES', 'MANU/DELIVER: HEROIN (WHITE)', 'AGGRAVATED - OTHER DANGEROUS WEAPON', 'ARMED: OTHER DANGEROUS WEAPON', 'POSS: SYNTHETIC DRUGS', 'CRIMINAL DEFACEMENT', 'PRO EMP HANDS NO/MIN INJURY', 'POSS: CANNABIS 30GMS OR LESS', 'POSS: HEROIN(WHITE)', 'OVER $500', 'CREDIT CARD FRAUD', 'FROM BUILDING', 'POSS: CRACK', 'COUNTERFEIT CHECK', 'ATTEMPT - AUTOMOBILE', 'AGGRAVATED', 'THEFT/RECOVERY: AUTOMOBILE', 'CYCLE, SCOOTER, BIKE WITH VIN', 'FROM COIN-OPERATED MACHINE OR DEVICE', 'HARASSMENT BY TELEPHONE', 'TO STATE SUPPORTED PROPERTY', 'FRAUD OR CONFIDENCE GAME', 'AGGRAVATED - HANDGUN', 'AUTOMOBILE', 'AGGRAVATED - KNIFE / CUTTING INSTRUMENT', 'ILLEGAL USE CASH CARD', 'ATTEMPT - FINANCIAL IDENTITY THEFT', 'ARMED:KNIFE/CUTTING INSTRUMENT', 'AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST', 'STRONG ARM - NO WEAPON', 'FINANCIAL IDENTITY THEFT $300 AND UNDER', 'THEFT/RECOVERY: TRUCK,BUS,MHOME']
86

#### **Encoding Top secondary crimes**

In [156]:
column_name= "secondary_description"
encoder_function(column_name, top_values)

In [157]:
df.head(2)

                block  ... secondary_description_THEFT/RECOVERY: TRUCK,BUS,MHOME
0   061XX W GRAND AVE  ...                                                  0
1  043XX N CICERO AVE  ...                                                  0

[2 rows x 111 columns]

## **Top iucr codes for the top primary description**

In [158]:
# to pass
column_name= "primary_description" # The name of the outer level column
outer_top= top_prim_des # Top values of outer column
no_of_top_topick =10 #these are how many number of values to pick for the inner top values
Column_to_count= "iucr" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))

In [159]:
print(top_values)
print(len(set(top_values)))

['0420', '0880', '033A', '0313', '1811', '1812', '1822', '0918', '1370', '0454', '1305', '0497', '0530', '0520', '502R', '0325', '1150', '5111', '0486', '0430', '1154', '0920', '0895', '0925', '502P', '0850', '1122', '0496', '0870', '0326', '0650', '0865', '0553', '0890', '0935', '0860', '0545', '1320', '2024', '0340', '051B', '4387', '2027', '1156', '1152', '0557', '051A', '0498', '0820', '1345', '1121', '2826', '1310', '0910', '0610', '0937', '0320', '2014', '0312', '0810', '0917', '0330', '0630', '0558', '1340', '1130', '031A', '1375', '2022', '0560', '0460', '0620', '5002', '0927', '1153', '0930', '0915', '0484', '5000', '2028', '1120', '0334', '0554', '2093', '1210', '4650', '2820', '2092', '2825', '041A']
90

#### **Encoding Top IUCR codes**

In [160]:
column_name= "iucr"
encoder_function(column_name, top_values)

In [161]:
df.head(2)

                block  iucr  ... iucr_2825 iucr_041A
0   061XX W GRAND AVE  0486  ...         0         0
1  043XX N CICERO AVE  0560  ...         0         0

[2 rows x 201 columns]

## **Top Blocks from all wards**

In [162]:
# Getting all blocks
wards= list(df["ward"].unique())
print(wards)

[36.0, 45.0, 28.0, 21.0, 42.0, 39.0, 1.0, 17.0, 8.0, 41.0, 27.0, 32.0, 9.0, 7.0, 48.0, 24.0, 25.0, 22.0, 47.0, 29.0, 26.0, 31.0, 40.0, 49.0, 10.0, 38.0, 33.0, 4.0, 20.0, 18.0, 44.0, 50.0, 5.0, 3.0, 14.0, 37.0, 43.0, 6.0, 34.0, 12.0, 2.0, 16.0, 35.0, 46.0, 15.0, 23.0, 19.0, 11.0, 30.0, 13.0]

In [163]:
# Getting list of blocks that occur in top wards
# to pass
column_name= "ward" # The name of the outer level column
outer_top= wards # Top values of outer column
no_of_top_topick =10 #these are how many number of values to pick for the inner top values
Column_to_count= "block" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))
print(top_values)

['003XX E RANDOLPH ST', '089XX S COMMERCIAL AVE', '016XX W HOWARD ST', '080XX S WESTERN AVE', '010XX N FRANCISCO AVE', '001XX N CENTRAL AVE', '035XX N BROADWAY', '048XX S WOOD ST', '005XX W TAYLOR ST', '005XX N MICHIGAN AVE', '076XX S CICERO AVE', '016XX N WELLS ST', '040XX W LAWRENCE AVE', '046XX W DIVERSEY AVE', '026XX N NARRAGANSETT AVE', '011XX W 63RD ST', '028XX W CERMAK RD', '035XX S RHODES AVE', '004XX E 79TH ST', '087XX S COTTAGE GROVE AVE', '056XX W MADISON ST', '020XX W BALMORAL AVE', '017XX E 67TH ST', '0000X E RANDOLPH ST', '056XX W FULLERTON AVE', '132XX S LANGLEY AVE', '037XX N BROADWAY', '061XX S ASHLAND AVE', '082XX S DREXEL AVE', '003XX W 64TH ST', '034XX W FULLERTON AVE', '094XX S ASHLAND AVE', '065XX S PULASKI RD', '0000X W 95TH ST', '006XX E 131ST ST', '035XX W ARMITAGE AVE', '007XX E 79TH ST', '011XX S CANAL ST', '020XX N HALSTED ST', '064XX N SHERIDAN RD', '013XX S CANAL ST', '060XX W 63RD ST', '024XX W CHICAGO AVE', '035XX S MICHIGAN AVE', '076XX S HALSTED ST', '042XX S MICHIGAN AVE', '037XX N HALSTED ST', '087XX S COMMERCIAL AVE', '040XX W NORTH AVE', '114XX S OAKLEY AVE', '016XX W 59TH ST', '076XX S COLFAX AVE', '035XX E 114TH ST', '010XX W BELMONT AVE', '070XX S COTTAGE GROVE AVE', '043XX N NARRAGANSETT AVE', '053XX N LINCOLN AVE', '028XX W 21ST ST', '022XX W 111TH ST', '060XX W GUNNISON ST', '0000X W 111TH ST', '013XX S CLINTON ST', '039XX W NORTH AVE', '046XX S HALSTED ST', '025XX N MILWAUKEE AVE', '054XX N SHERIDAN RD', '034XX N HALSTED ST', '012XX W ROOSEVELT RD', '063XX S DR MARTIN LUTHER KING JR DR', '064XX W IRVING PARK RD', '0000X E GRAND AVE', '042XX W CERMAK RD', '047XX N LINCOLN AVE', '042XX N LINCOLN AVE', '023XX W LOGAN BLVD', '006XX W 63RD ST', '048XX N PULASKI RD', '058XX S ARCHER AVE', '030XX W 111TH ST', '079XX S DREXEL AVE', '031XX S HALSTED ST', '111XX S MICHIGAN AVE', '020XX S MICHIGAN AVE', '005XX E 79TH ST', '107XX S SACRAMENTO AVE', '048XX N MILWAUKEE AVE', '005XX N STATE ST', '040XX W 115TH ST', '076XX S EXCHANGE AVE', '056XX W IRVING PARK RD', '035XX N ELSTON AVE', '069XX S CLYDE AVE', '117XX S MARSHFIELD AVE', '062XX S HAMLIN AVE', '024XX W DEVON AVE', '076XX S KINGSTON AVE', '011XX W WILSON AVE', '051XX W NORTH AVE', '082XX S COTTAGE GROVE AVE', '067XX S EAST END AVE', '075XX N CLARK ST', '014XX N MILWAUKEE AVE', '032XX N BROADWAY', '036XX W DOUGLAS BLVD', '006XX S STATE ST', '048XX W NORTH AVE', '059XX W MADISON ST', '064XX S MARSHFIELD AVE', '109XX S DOTY AVE W', '047XX W NORTH AVE', '019XX W MONTEREY AVE', '043XX N KEYSTONE AVE', '013XX N PAULINA ST', '049XX N KENMORE AVE', '031XX N CLARK ST', '040XX W ROOSEVELT RD', '040XX N KEDZIE AVE', '046XX S DAMEN AVE', '041XX S PULASKI RD', '050XX N WINTHROP AVE', '055XX W GRAND AVE', '118XX S WESTERN AVE', '040XX W WILCOX ST', '038XX W ROOSEVELT RD', '021XX N ELSTON AVE', '032XX W DIVERSEY AVE', '042XX W IRVING PARK RD', '056XX N SPAULDING AVE', '051XX N CALIFORNIA AVE', '018XX W LAWRENCE AVE', '046XX N ELSTON AVE', '032XX N CLARK ST', '043XX N CICERO AVE', '103XX S MICHIGAN AVE', '076XX N SHERIDAN RD', '007XX N CENTRAL AVE', '020XX W ARTHUR AVE', '011XX W LAWRENCE AVE', '034XX W 63RD ST', '098XX S STATE ST', '051XX W 55TH ST', '047XX S KEDZIE AVE', '045XX S ASHLAND AVE', '053XX S PULASKI RD', '045XX S DREXEL BLVD', '026XX S PULASKI RD', '064XX W FULLERTON AVE', '052XX N BROADWAY', '023XX E 79TH ST', '058XX N PULASKI RD', '012XX N LARRABEE ST', '064XX S LOWE AVE', '017XX W HOWARD ST', '028XX W 19TH ST', '062XX S ASHLAND AVE', '039XX N HARLEM AVE', '078XX S SOUTH SHORE DR', '075XX N PAULINA ST', '046XX S ASHLAND AVE', '016XX N PULASKI RD', '079XX S WABASH AVE', '072XX S WESTERN AVE', '062XX N LINCOLN AVE', '012XX S MICHIGAN AVE', '012XX S WABASH AVE', '078XX S WESTERN AVE', '070XX S CHAPPEL AVE', '023XX E 70TH ST', '030XX S HALSTED ST', '034XX N NARRAGANSETT AVE', '002XX W 63RD ST', '020XX N CLARK ST', '048XX W ARMITAGE AVE', '044XX S PULASKI RD', '058XX N LINCOLN AVE', '062XX N CALIFORNIA AVE', '034XX S DR MARTIN LUTHER KING JR DR', '011XX N HARDING AVE', '044XX N BROADWAY', '064XX N RIDGE BLVD', '040XX N OAK PARK AVE', '002XX W 103RD ST', '039XX W 79TH ST', '054XX S ARCHER AVE', '011XX W JACKSON BLVD', '057XX S CICERO AVE', '081XX S COTTAGE GROVE AVE', '019XX N CICERO AVE', '032XX W LAWRENCE AVE', '003XX N CENTRAL AVE', '056XX S WOOD ST', '023XX W JACKSON BLVD', '0000X W 69TH ST', '034XX W ROOSEVELT RD', '047XX N CUMBERLAND AVE', '005XX W ROOSEVELT RD', '073XX S YALE AVE', '001XX N STATE ST', '045XX S WESTERN BLVD', '018XX W FULLERTON AVE', '033XX W NORTH AVE', '061XX S ARCHER AVE', '014XX W 63RD ST', '071XX S WESTERN AVE', '015XX S DRAKE AVE', '039XX W OGDEN AVE', '032XX N MILWAUKEE AVE', '100XX W OHARE ST', '063XX S ASHLAND AVE', '041XX N ELSTON AVE', '083XX S STEWART AVE', '030XX N CICERO AVE', '065XX S LOWE AVE', '098XX S HALSTED ST', '033XX N WESTERN AVE', '063XX S KEDZIE AVE', '064XX N CLARK ST', '034XX W LAWRENCE AVE', '099XX S HALSTED ST', '077XX N HASKINS AVE', '062XX N HOYNE AVE', '016XX E 95TH ST', '066XX S STONY ISLAND AVE', '071XX S ASHLAND AVE', '044XX W FULLERTON AVE', '008XX W 119TH ST', '006XX W HARRISON ST', '013XX W 15TH ST', '031XX N MILWAUKEE AVE', '007XX E 111TH ST', '037XX N ELSTON AVE', '046XX W NORTH AVE', '025XX N NARRAGANSETT AVE', '054XX S WENTWORTH AVE', '007XX W 31ST ST', '003XX S DEARBORN ST', '062XX S WESTERN AVE', '059XX W DIVERSEY AVE', '080XX S MARYLAND AVE', '0000X W 87TH ST', '006XX S CENTRAL AVE', '130XX S ELLIS AVE', '074XX S WESTERN AVE', '016XX N MILWAUKEE AVE', '037XX W ROOSEVELT RD', '015XX N MILWAUKEE AVE', '076XX S STEWART AVE', '043XX W WRIGHTWOOD AVE', '031XX W IRVING PARK RD', '062XX S MICHIGAN AVE', '058XX S KEDZIE AVE', '052XX W ROSCOE ST', '030XX N MILWAUKEE AVE', '048XX W IRVING PARK RD', '079XX S HALSTED ST', '013XX N HUDSON AVE', '016XX W 47TH ST', '061XX N BROADWAY', '055XX W WASHINGTON BLVD', '039XX W IRVING PARK RD', '079XX S LAFAYETTE AVE', '039XX N SHERIDAN RD', '009XX W FULLERTON AVE', '111XX S STATE ST', '026XX N ELSTON AVE', '040XX W VAN BUREN ST', '109XX S DOTY AVE E', '029XX W ADDISON ST', '077XX S SOUTH SHORE DR', '016XX S HOMAN AVE', '040XX W FOSTER AVE', '026XX N MILWAUKEE AVE', '014XX N SEDGWICK ST', '031XX W HARRISON ST', '024XX W 51ST ST', '070XX S JEFFERY BLVD', '027XX N MILWAUKEE AVE', '002XX E 121ST PL', '005XX S PULASKI RD', '064XX S DR MARTIN LUTHER KING JR DR', '054XX S KEDZIE AVE', '012XX N WELLS ST', '046XX N KEDZIE AVE', '039XX W DIVERSEY AVE', '058XX N SHERIDAN RD', '056XX S KILPATRICK AVE', '023XX W MADISON ST', '048XX W BELMONT AVE', '001XX W 87TH ST', '015XX N DAMEN AVE', '087XX S BURLEY AVE', '023XX N CICERO AVE', '035XX N KIMBALL AVE', '021XX E 71ST ST', '083XX S HOLLAND RD', '040XX W LAKE ST', '037XX W CHICAGO AVE', '031XX N CENTRAL AVE', '054XX W CHICAGO AVE', '031XX W MADISON ST', '012XX S ASHLAND AVE', '025XX W CERMAK RD', '011XX N CLARK ST', '049XX N MILWAUKEE AVE', '074XX S COLFAX AVE', '022XX S KEELER AVE', '046XX W IRVING PARK RD', '039XX W JACKSON BLVD', '049XX W VAN BUREN ST', '061XX S VERNON AVE', '027XX N CLARK ST', '011XX S STATE ST', '009XX W BELMONT AVE', '073XX S PHILLIPS AVE', '079XX S CICERO AVE', '065XX W DIVERSEY AVE', '024XX N MILWAUKEE AVE', '053XX N BROADWAY', '010XX W 14TH ST', '008XX E 79TH ST', '015XX N CLYBOURN AVE', '002XX W GARFIELD BLVD', '0000X W DIVISION ST', '042XX W 26TH ST', '046XX W 59TH ST', '033XX N MILWAUKEE AVE', '052XX S ARCHER AVE', '029XX S STATE ST', '078XX S HALSTED ST', '057XX N SHERIDAN RD', '056XX W BELMONT AVE', '023XX W DEVON AVE', '053XX N WESTERN AVE', '074XX N CLARK ST', '0000X S STATE ST', '017XX N CLARK ST', '001XX W DIVISION ST', '001XX W CERMAK RD', '043XX N SHERIDAN RD', '005XX W OHARE ST', '045XX S HERMITAGE AVE', '026XX N CLARK ST', '047XX N MELVINA AVE', '008XX W NORTH AVE', '075XX S COLES AVE', '050XX N PULASKI RD', '027XX N CALIFORNIA AVE', '024XX S DRAKE AVE', '023XX N MILWAUKEE AVE', '055XX N HARLEM AVE', '082XX S MARYLAND AVE', '0000X S MIDWAY ST', '033XX N HALSTED ST', '082XX S INGLESIDE AVE', '029XX N CICERO AVE', '049XX S KEDZIE AVE', '017XX N KOSTNER AVE', '102XX S WALDEN PKWY', '032XX W NORTH AVE', '052XX N LINCOLN AVE', '030XX N HALSTED ST', '115XX S HALSTED ST', '024XX N CENTRAL AVE', '0000X W CTA OHARE PLATFORM ST', '040XX W 26TH ST', '052XX N SHERIDAN RD', '016XX W DIVISION ST', '061XX S DR MARTIN LUTHER KING JR DR', '0000X W CHICAGO AVE', '017XX W FULLERTON AVE', '001XX W 35TH ST', '015XX W FULLERTON AVE', '110XX S WENTWORTH AVE', '065XX W FULLERTON AVE', '060XX N KENMORE AVE', '027XX W CERMAK RD', '046XX N SHERIDAN RD', '005XX S STATE ST', '024XX N LINCOLN AVE', '0000X W TERMINAL ST', '070XX S PULASKI RD', '030XX N BROADWAY', '079XX S ASHLAND AVE', '067XX S PULASKI RD', '039XX W ROOSEVELT RD', '029XX N ASHLAND AVE', '046XX N WESTERN AVE', '026XX N HALSTED ST', '085XX S ESCANABA AVE', '015XX W GARFIELD BLVD', '070XX S ASHLAND AVE', '014XX S CANAL ST', '0000X S HALSTED ST', '033XX W BELMONT AVE', '074XX W TALCOTT AVE', '005XX W HARRISON ST', '052XX S PULASKI RD', '065XX N GLENWOOD AVE', '002XX N PINE AVE', '005XX N CENTRAL AVE', '053XX N ELSTON AVE', '028XX N MILWAUKEE AVE', '008XX N STATE ST', '020XX N CICERO AVE', '048XX N FRANCISCO AVE', '103XX S HALSTED ST', '050XX S MICHIGAN AVE', '073XX W FOSTER AVE', '045XX N BROADWAY', '066XX S HALSTED ST', '060XX W IRVING PARK RD', '023XX W IRVING PARK RD', '043XX W 26TH ST', '031XX W 103RD ST', '053XX N CUMBERLAND AVE', '039XX N WESTERN AVE', '007XX S CICERO AVE', '002XX W 87TH ST', '123XX S WALLACE ST', '022XX S PULASKI RD', '0000X E ROOSEVELT RD', '047XX S COTTAGE GROVE AVE', '010XX S CANAL ST', '006XX N MICHIGAN AVE', '068XX S PERRY AVE', '004XX W DIVISION ST', '0000X W 79TH ST', '062XX N MOZART ST', '013XX N MILWAUKEE AVE', '063XX S RACINE AVE', '014XX W LUNT AVE', '088XX S BURLEY AVE', '022XX N LINCOLN AVE', '015XX N KINGSBURY ST', '056XX W ADDISON ST', '031XX S ASHLAND AVE', '033XX W LAWRENCE AVE', '063XX W 56TH ST', '004XX N MICHIGAN AVE', '032XX N CENTRAL AVE', '036XX W LAWRENCE AVE', '103XX S DOTY AVE E', '071XX S JEFFERY BLVD', '041XX W IRVING PARK RD', '081XX S ASHLAND AVE', '043XX W IRVING PARK RD', '026XX S KEDZIE AVE', '040XX N LINCOLN AVE', '036XX N MILWAUKEE AVE', '032XX W 55TH ST', '055XX W JACKSON BLVD', '075XX S STONY ISLAND AVE', '055XX N CLARK ST', '020XX W 79TH ST', '067XX S JEFFERY BLVD', '042XX W NORTH AVE', '063XX S PULASKI RD', '040XX W DIVERSEY AVE', '039XX W VAN BUREN ST', '065XX S DR MARTIN LUTHER KING JR DR', '027XX N CLYBOURN AVE', '017XX W PRYOR AVE', '011XX S CLARK ST', '040XX W GRAND AVE', '002XX W 47TH ST', '020XX N MILWAUKEE AVE', '025XX N CLARK ST', '035XX W LAWRENCE AVE', '039XX W 26TH ST', '039XX W MADISON ST', '091XX S COMMERCIAL AVE', '102XX W ZEMKE RD', '013XX W 76TH ST', '040XX N ASHLAND AVE', '008XX N MICHIGAN AVE', '054XX N EAST RIVER RD', '054XX W MADISON ST', '003XX W CERMAK RD', '047XX N KIMBALL AVE', '035XX N CLARK ST', '063XX S HONORE ST', '021XX W PETERSON AVE', '047XX S WESTERN AVE', '044XX N FRANCISCO AVE', '072XX S ROCKWELL ST', '0000X N STATE ST', '051XX S PULASKI RD', '024XX W 63RD ST', '062XX N WESTERN AVE', '075XX N WESTERN AVE', '039XX W GLADYS AVE', '040XX E 134TH ST', '075XX S ASHLAND AVE', '024XX S SAWYER AVE', '036XX S ARCHER AVE', '025XX N KEDZIE BLVD', '034XX N WESTERN AVE']

### **Encoding Block from wards**

In [164]:
column_name= "block"
encoder_function(column_name, top_values)

In [165]:
df.head(2)

                block  ... block_034XX N WESTERN AVE
0   061XX W GRAND AVE  ...                         0
1  043XX N CICERO AVE  ...                         0

[2 rows x 698 columns]

## **Top beats from top wards**

In [166]:
# Getting list of blocks that occur in top wards
# to pass
column_name= "ward" # The name of the outer level column
outer_top= wards # Top values of outer column
no_of_top_topick =1 #these are how many number of values to pick for the inner top values
Column_to_count= "beat" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))
print(top_values)

[2433, 131, 1924, 1033, 524, 1911, 1424, 1935, 913, 533, 1432, 922, 923, 2212, 421, 1833, 1834, 813, 1712, 432, 823, 312, 1723, 1724, 835, 1731, 713, 331, 2512, 1623, 1113, 2521, 2011, 1631, 1121, 2533, 2535, 2412, 621, 622, 623, 1522, 1651, 1011, 1013, 2422, 631, 1914, 123, 124]

#### **Encoding Top Beats**

In [167]:
column_name= "beat"
top_values= list(map(str,top_values))
encoder_function(column_name, top_values)

In [168]:
df.head(2)

                block  iucr primary_description  ... beat_1914 beat_123 beat_124
0   061XX W GRAND AVE  0486             BATTERY  ...         0        0        0
1  043XX N CICERO AVE  0560             ASSAULT  ...         0        0        0

[2 rows x 748 columns]

## **Top Locations**

In [169]:
top_prim_des= [x for x in df["location_description"].value_counts(ascending= False).head(30).index]
top_values = top_prim_des.copy()
top_values

['STREET',
 'RESIDENCE',
 'APARTMENT',
 'SIDEWALK',
 'OTHER',
 'SMALL RETAIL STORE',
 'RESTAURANT',
 'PARKING LOT/GARAGE(NON.RESID.)',
 'ALLEY',
 'DEPARTMENT STORE',
 'VEHICLE NON-COMMERCIAL',
 'GAS STATION',
 'RESIDENCE PORCH/HALLWAY',
 'RESIDENTIAL YARD (FRONT/BACK)',
 'GROCERY FOOD STORE',
 'RESIDENCE-GARAGE',
 'CONVENIENCE STORE',
 'OTHER (SPECIFY)',
 'CTA TRAIN',
 'SCHOOL, PUBLIC, BUILDING',
 'BAR OR TAVERN',
 'COMMERCIAL / BUSINESS OFFICE',
 'PARK PROPERTY',
 'PARKING LOT / GARAGE (NON RESIDENTIAL)',
 'DRUG STORE',
 'RESIDENCE - PORCH / HALLWAY',
 'RESIDENCE - YARD (FRONT / BACK)',
 'CTA BUS',
 'CTA STATION',
 'BANK']

### **Encoding Top Locations**

In [170]:
column_name= "location_description"
encoder_function(column_name, top_values)

In [171]:
df.head(2)

                block  ... location_description_BANK
0   061XX W GRAND AVE  ...                         0
1  043XX N CICERO AVE  ...                         0

[2 rows x 778 columns]

## **Top FBI Code**

In [172]:
top_prim_des= [x for x in df["fbi_cd"].value_counts(ascending= False).head(10).index]
top_values = top_prim_des.copy()
top_values

['06', '08B', '14', '26', '08A', '11', '18', '05', '07', '03']

### **Encoding top FBI codes**

In [173]:
column_name= "fbi_cd"
encoder_function(column_name, top_values)

In [174]:
df.head(2)

                block  iucr  ... fbi_cd_07 fbi_cd_03
0   061XX W GRAND AVE  0486  ...         0         0
1  043XX N CICERO AVE  0560  ...         0         0

[2 rows x 788 columns]

# **Label Encoding of other  columns**

## **Encoding Arrest Column**

In [175]:
column_name= "arrest"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block  iucr primary_description  ... fbi_cd_03 arrest_N arrest_Y
0   061XX W GRAND AVE  0486             BATTERY  ...         0        1        0
1  043XX N CICERO AVE  0560             ASSAULT  ...         0        0        1

[2 rows x 790 columns]

## **Encoding domestic Column**

In [176]:
column_name= "domestic"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block  iucr  ... domestic_N domestic_Y
0   061XX W GRAND AVE  0486  ...          1          0
1  043XX N CICERO AVE  0560  ...          1          0

[2 rows x 792 columns]

## **Encoding domestic Column**

In [177]:
column_name= "domestic"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block  iucr  ... domestic_N domestic_Y
0   061XX W GRAND AVE  0486  ...          1          0
1  043XX N CICERO AVE  0560  ...          1          0

[2 rows x 792 columns]

## **Encoding month Column**

In [178]:
column_name= "month"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block  iucr  ... month_Apr month_May
0   061XX W GRAND AVE  0486  ...         0         0
1  043XX N CICERO AVE  0560  ...         0         0

[2 rows x 804 columns]

## **Encoding weekday Column**

In [179]:
column_name= "week_day"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block  iucr  ... week_day_Tuesday week_day_Wednesday
0   061XX W GRAND AVE  0486  ...                0                  0
1  043XX N CICERO AVE  0560  ...                0                  0

[2 rows x 811 columns]

## **Encoding hour Column**

In [180]:
column_name= "hour"

labels = list(df[column_name].unique())

labels= list(map(str,labels))
encoder_function(column_name, labels)
df.head(2)

                block  iucr primary_description  ... hour_2 hour_3 hour_4
0   061XX W GRAND AVE  0486             BATTERY  ...      0      0      0
1  043XX N CICERO AVE  0560             ASSAULT  ...      0      0      0

[2 rows x 835 columns]

# **Scaling Values**

## **Scaling longitude Column**

In [181]:
df["latitude"].head(5)

0    41.921325
1    41.960495
2    41.866332
3    41.740986
4    41.893282
Name: latitude, dtype: float64

## **Scaling latitude Column**

In [182]:
df["latitude"].head(5)

0    41.921325
1    41.960495
2    41.866332
3    41.740986
4    41.893282
Name: latitude, dtype: float64

# **Deleting Label Columns**

In [183]:
data.columns

Index(['block', 'iucr', 'primary_description', 'secondary_description',
       'location_description', 'arrest', 'domestic', 'beat', 'ward', 'fbi_cd',
       'latitude', 'longitude', 'month', 'week_day', 'hour'],
      dtype='object')

In [184]:
del df["block"]
del df["iucr"]
del df["primary_description"]
del df["secondary_description"]
del df["location_description"]
del df["arrest"]
del df["domestic"]
del df["beat"]
del df["fbi_cd"]
del df["month"]
del df["week_day"]
del df["hour"]

In [185]:
df.head(2)

  ward   latitude  longitude  ...  hour_2  hour_3  hour_4
0   36  41.921325 -87.779766  ...       0       0       0
1   45  41.960495 -87.747514  ...       0       0       0

[2 rows x 823 columns]

# **Saving Ward data**

In [186]:
df.to_csv("ward_data.csv")